/* /source/css/custom.css */
.runtime {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}
.runtime span {
  color: #ff6b6b;
  font-weight: bold;
}

/* 表格强制横向滚动 */
.markdown-body table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

/* 小屏幕下优化表格 */
@media screen and (max-width: 600px) {
  .markdown-body table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* 添加触摸滚动优化 */
  }
}
